@import '../../static/style/custom.scss';
.index {
  height: 100vh;
  background-color: $color-bgm;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  .index-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: $color-white;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 8px 0;
    .header {
      height: 75px;
      width: 1200px;
      @include flex-center($justify: space-between);
      margin: 0 auto;
      .header-left {
        width: auto;
        @include flex-center($justify: flex-start);
        .left-logo {
          width: 268px;
          height: auto;
          img {
            width: 58px;
            height: auto;
            display: block;
            margin-bottom: 5px;
          }
          span {
            margin-top: 5px;
            font-size: 12px;
          }
        }
        .line {
          width: 1px;
          height: 57px;
          background-color: $color-e;
        }
        .left-tips {
          margin-left: 30px;
          color: $color-one;
          font-size: 18px;
          position: relative;
          height: 75px;
          @include flex-center($justify: flex-start);
          .tips-xcx {
            margin-left: 15px;
            height: 32px;
            width: 32px;
            border-radius: 50px;
            cursor: pointer;
          }
          .tips-xcx:hover + .max-tips-xcx {
            display: block;
          }
          .max-tips-xcx {
            position: absolute;
            width: 120px;
            height: 120px;
            cursor: pointer;
            z-index: 1;
            right: -50px;
            top: 60px;
            display: none;
          }
        }
      }
      .header-right:hover .right-outLogin  {
        display: block;
      }
      .header-right {
        width: auto;
        position: relative;
        height: 75px;
        cursor: pointer;
        @include flex-center();
        .right-head {
          height: 32px;
          border-radius: 50px;
          width: 32px;
        }
        .right-name {
          color: #222;
          font-size: 14px;
          margin-left: 10px;
          cursor: pointer;
        }
        .right-outLogin {
          display: none;
          position: absolute;
          width: 120px;
          color: $color-white;
          z-index: 1;
          right: -30px;
          top: 75px;
          font-size: 14px;
          background: $color-nine;
          text-align: center;
          line-height: 38px;
        }
      }
    }
  }
  .index-container {
    @include flex-center($align: null);
    margin: 90px auto 0;
    background-color: $color-bgm;
    width: 1200px;
    .container {
      min-height: 200px;
      margin-right: 28px;
      height: auto;
      width: 240px;
      .container-brand {
        min-height: 200px;
        margin-right: 28px;
        height: auto;
        width: 240px;
        background-color: $color-white;
        margin-bottom: 20px;
        border-radius: 12px;
        &.select {
          background: $color-brand;
          border: 2px solid $color-blue;
        }
        .brand-child {
          width: 100%;
          cursor: pointer;
          height: auto;
          box-sizing: border-box;
          padding: 15px 15px 30px 15px;
          .child-header {
            height: 50px;
            @include flex-center($align: null, $justify: null);
            .head-img {
              height: 50px;
              width: 50px;
              border-radius: 50%;
            }
            .head-info {
              margin-left: 10px;
              color: #858faa;
              font-size: 12px;
              .info-name {
                line-height: 24px;
                margin-top: 3px;
                margin-bottom: 4px;
                font-size: 18px;
                color: $color-one;
                &.name-select {
                  color: $color-blue;
                }
              }
              .info-tips {
                font-family: MicrosoftYaHei;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          .data-text {
            margin-top: 31px;
            height: 16px;
            font-size: 12px;
            color: $color-title;
          }
          .data {
            color: $color-one;
            font-family: MicrosoftYaHei;
            line-height: 16px;
            margin-top: 10px;
            font-size: 12px;
          }
          .number {
            margin-top: 30px;
            @include flex-center($align: null, $justify: null, $flex-wrap: wrap);
            .number-item {
              width: 50%;
              height: 50px;
              @include flex-center($justify: space-around, $direction: column, $align: null);
              .number-title {
                font-size: 12px;
                color: $color-title;
                font-family: MicrosoftYaHei;
                line-height:16px
              }
              .number-text {
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 1px;
                font-family: MicrosoftYaHei-Bold,MicrosoftYaHei;
                color: $color-one;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .container-chart {
      width: calc(100% - 268px);
      margin-top: 7px;
      .chart-click {
        @include flex-center();
        margin-bottom: 42px;
        .click-item {
          width: auto;
          line-height: 30px;
          margin-right: 40px;
          font-size: 12px;
          cursor: pointer;
          color: $color-six;
          &.clickSelect {
            border-bottom: 3px solid $color-blue;
            font-weight: 700;
            color: $color-blue;
            font-size: 14px;
          }
        }
      }
      .clickTabNone {
        display: none;
        &.clickTabShow {
          display: block;
        }
      }
    }
  }
}
