//loading 加载
.login-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

// Chart head文字
.double-head {
  font-size: 16px;
  color: #111111;
  line-height: 20px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-family: MicrosoftYaHei;
}
// Chart bgm
.double-chart {
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 15px;
}
