$color-red: #e53953;
$color-blue: #396AF2;
$color-title: #858faa;
$color-black: #222222;
$color-nine: #999999;
$color-e: #eeeeee;
$color-one: #111111;
$color-bgm: #F7F7F7;
$color-white: #ffffff;

// test
$white: #ffffff;
$arrow: #d14b4a;
$color-bgm: #9416FF;
$color-blue: #46A3F3;

